@includeCore 'colors/simpleblue';
@includeCore 'default';
@includeCore 'base/webapp';

#todos
	margin:10px auto
	background:#FFF
	border:1px solid #FAFAFA
	color:#555
	width:600px
	
	li
		padding:4px 5px	

