<!DOCTYPE html>
<html>
		<head>
				<meta charset="utf-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
				<title>{{ page.title }}</title>
				<meta name="viewport" content="width=device-width">

				<!-- syntax highlighting CSS -->
				<link rel="stylesheet" href="/css/pygment_trac.css">

				<!-- Custom CSS -->
				<link rel="stylesheet" href="/css/main.css">

		</head>
		<body>


	<header>
		<h1 class="header">SpringbokJS</h1>
		<p class="header">Springbok Framework for NodeJS</p>

		<ul>
		  <li><a class="buttons github" href="https://github.com/christophehurpeau/SpringbokJS">View On GitHub</a></li>
		  <li class="download"><a class="buttons" href="https://github.com/christophehurpeau/SpringbokJS/tarball/master">Download TAR</a></li>
		  <li class="download"><a class="buttons" href="https://github.com/christophehurpeau/SpringbokJS/zipball/master">Download ZIP</a></li>
		</ul>

		<p class="header">This project is maintained by <a class="header name" href="https://github.com/christophehurpeau">Christophe Hurpeau</a></p>


	</header>

<div class="wrapper">
	<section>
					{{ content }}

	</section>
</div>

	<footer>
<p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
</footer>